services:

  mongodb:
    container_name: mongodb
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.adminCommand('ping')"]
      interval: 15s
      timeout: 10s
      retries: 5
      start_period: 40s


  mysql:
    container_name: mysql
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test_week_17
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 15s
      timeout: 10s
      retries: 5
      start_period: 40s


  kafka:
    container_name: kafka
    image: confluentinc/cp-kafka:7.8.3
    ports:
      - "9092:9092"

    environment:
      KAFKA_KRAFT_MODE: "true"
      CLUSTER_ID: "1L6g7nGhU-eAKfL--X25wo"
      KAFKA_NODE_ID: 1

      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG_DIRS: /var/lib/kafka/data

    volumes:
      - kafka_data:/var/lib/kafka/data

    healthcheck:
      test: ["CMD", "bash", "-c", "kafka-topics --bootstrap-server kafka:9092 --list"]
      interval: 15s
      timeout: 10s
      retries: 5
      start_period: 40s


  analytics-api:
    container_name: analytics-api
    build: ./analytics-api
    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DB: test_week_17
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy


  producer:
    container_name: producer
    build: ./producer
    environment:
      MONGO_HOST: mongodb://mongodb:27017
      BOOTSTRAP_SERVERS: "kafka:9092"
      DB_NAME: "test_week_17"
    depends_on:
      mongodb:
        condition: service_healthy
      kafka:
        condition: service_healthy

  consumer:
    container_name: consumer
    build: ./consumer
    environment:
      BOOTSTRAP_SERVERS: "kafka:9092"
      MYSQL_HOST: mysql
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DB: test_week_17
    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_healthy


volumes:
  kafka_data:
  mongodb_data:
  mysql_data:
